body {
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}

.DataTableContainer {
    width: 100%;
    height: 100vh;
    padding: 50px;
    position: relative;
}

/* Header Creation */

.headerCreation {
    min-width: 100%;
    min-height: 120px;
}

.headerIconAndButtonCreation {
    position: relative;
    height: 65px;
}

.headingSpan {
    font-size: 20px;
    font-weight: 900;
    text-transform: capitalize;
    color: rgb(22, 22, 22);
}

.editButton {
    position: absolute;
    right: 0%;
    padding: 10px 12px 10px 50px;
    border: 0;
    outline: 0;
    background: rgb(234, 248, 234);
    color: #21ba45;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer
}

.EditIcon {
    position: absolute;
    right: 47px;
    z-index: 999;
    top: 6px;
    cursor: pointer;
}

.headerInformationText {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    height: 60px;
    max-width: 60%;
    font-size: 16px;
    color: gray;
    margin-bottom: 30px;
}

.headerInformationText .headerInformationTextFirstType {
    text-align: left;
    border-right: 2px solid lightgray;
}

.headerInformationText .headerInformationTextSecondType {
    height: 100%;
    text-align: center;
    border-right: 2px solid lightgray;
}

.headerInformationText .headerInformationTextThirdType {
    height: 100%;
    text-align: right;
}

.headerInformationTextSecondTypeSpan {
    position: relative;
    top: 10px;
}

.headerInformationTextFirstTypeSpanRight {
    position: relative;
    left: 15px;
    color: black
}

.headerInformationTextSecondTypeSpan .headerInformationTextFirstTypeSpanRight {
    position: relative;
    top: 10px;
}

/* table Creation */

.TableCreation {
    margin-top: 60px;
}

table {
    width: 100%;
    border-collapse: collapse;
    position: relative;
    top: 35px;
    color: rgb(36, 36, 36);
    text-transform: capitalize;
}

th, td {
    text-align: left;
    padding: 15px;
}

.tableHead1 {
    width: 10%;
}

.tableHead2 {
    width: 15%;
}

.tableHead3 {
    width: 15%;
}

.tableHead4 {
    width: 15%;
}

.tableHead5 {
    width: 15%;
}

.tableHead6 {
    width: 15%;
}

td {
    color: gray;
}

th {
    background: rgb(232, 232, 232);
    height: 62px
}

tr:nth-child(even) {
    background: rgb(247, 247, 247);
}

.tableColumsRow:last-child {
    border-bottom: 2px solid rgb(232, 232, 232);
}

.ItemsColumn {
    color: rgb(84, 164, 184);
    font-size: 16px;
    font-weight: 700;
}

.DeleteAndEditIcon {
    display: grid;
    width: 160px;
    grid-template-columns: 1fr 1fr;
}

.profile {
    position: relative;
    padding-left: 0;
}

.profileName {
    position: absolute;
    padding: 0px 0px 0px 10px;
    color: gray;
    font-size: 17px;
}

.profileRollNo {
    position: absolute;
    padding: 18px 0px 0px 10px;
    color: #5393fe;
    font-size: 13px;
}

/* Delete PopUp model */

.popUpModalCreation {
    min-width: 100%;
    min-height: 100vh;
    position: absolute;
    text-align: center;
    background: #7676769e;
    top: 0%;
    left: 0%;
}

.popUpModalInputAndButtonDivision {
    width: 800px;
    height: 450px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #364f64e6;
    border-radius: 13px;
}

.cancelIconDivision {
    position: relative;
    width: 100%;
    height: 100px;
    background: #27ade3f2
}

.cancelIconDivision p {
    position: absolute;
    width: 500px;
    text-transform: capitalize;
    font-size: 25px;
    color: white;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 800;
}

.DeletePara {
    padding: 30px;
}

.deleteEmptyPara {
    height: 8px;
    background: orange;
}

.DeletePara p {
    font-size: 18px;
    text-align: justify;
    word-spacing: 5px;
    padding: 26px;
    background: #ececec;
    border-radius: 5px;
    font-family: initial;
}

.deleteConfirmText {
    text-align: justify;
    padding-left: 30px;
    font-size: 17px;
    color: white;
    font-weight: 700;
}

.popUpModalInputAndButtonDivision .inputAndTextField input {
    width: 92%;
    font-size: 18px;
    padding: 8px;
    outline: none;
    border: none;
    border-bottom: 1px solid lightgray;
    transition: 0.3s;
    background: white;
}

.popUpModalInputAndButtonDivision .inputAndTextField input:focus {
    border-bottom: 1px solid #0067ff;
}

.CancelAndDeleteButton {
    position: absolute;
    right: 32px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    max-width: 250px;
    margin: 25px auto;
}

.cancelButton {
    padding: 9px 20px;
    outline: none;
    border: 0;
    border-radius: 4px;
    background: white;
    color: #00b5f1;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
}

.CancelAndDeleteButton .deleteButton {
    padding: 9px 20px;
    outline: none;
    border: 0;
    border-radius: 4px;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    color: #3a5c78
}

.CancelAndDeleteButton .NonDisabled {
    color: white;
    background: #0067ff;
}

.cancelIcon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 40px;
    transform: rotate(45deg);
    color: white;
}

/* search container design */

.DataTableContainer .searchContainer {
    position: relative;
    top: 10px;
    text-align: right;
}

.searchDiv {
    position: absolute;
    right: 0;
    bottom: 6px;
    width: 250px;
    height: 41px;
    background: white;
    border-radius: 20px;
    border: 1px solid lightgray;
}

.searchInput {
    width: 180px;
    height: 33px;
    outline: none;
    border: none;
    font-size: 19px;
    z-index: 5;
    background: transparent;
    color: black;
    position: absolute;
    left: 21px;
    top: 2px;
}


.searchContainer img {
    position: absolute;
    right: 0;
    top: 0px;
    padding: 9px;
    background: transparent;
    cursor: pointer;
    border-radius: 8px;
}

/* Edit popup model */

.editPopModal {
    min-width: 100%;
    min-height: 100vh;
    position: absolute;
    text-align: center;
    background: #7676769e;
    top: 0%;
    left: 0%;
}

.editContainer {
    width: 500px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    background: #ffffffeb;
    border-radius: 13px;
}

.editContainer p {
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 700;
    color: blue;
}

.editInput {
    width: 320px;
    font-size: 18px;
    padding: 10px;
    padding-left: 3px;
    outline: none;
    border: none;
    border-bottom: 1px solid lightgray;
    transition: 0.5s;
    margin: 5px;
    background: transparent;
}

.editInput:focus {
    border-bottom: 1px solid blue;
}

.cancelButtonAndUpdateButton {
    margin: 25px auto;
}

.editCancel {
    background: #0067ff;
    margin: 15px;
}

.updateButton {
    padding: 9px 20px;
    outline: none;
    border: 0;
    border-radius: 4px;
    background: #1fc71fd1;
    color: white;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    margin: 15px;
}

@media only screen and (max-width: 1050px) {
    .headerInformationText {
        max-width: 75%;
        font-size: 15px;
    }
}